/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
    font-family: "";
    src: url("") format("woff2"),
         url("") format("woff");
}

/* ******************************** */

/* Colores */

/* ******************************** */

.activo{
    color: #F7F7F7;
    font-weight: 700;
}

.activo::first-letter{
    text-decoration: underline;
}